<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Commerce Site</title>
  <link rel="icon" href="icons8-loyalty-64.png">

  <!-- VUE SCRIPT -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

  <!-- EXTERNAL CSS LINK -->
  <link rel="stylesheet" href="style.css" />

  <!-- JS -->
  <script src="app.js" defer></script>
</head>

<body class="bg-dark">
  <div id="app">
    <!-- NAVBAR -->
    <header id="navbar" v-if="loggedIn">
      <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <!-- LOGO -->
          <a class="navbar-brand" href="#">
            <img src="nike-logo.png" height="50" width="50">
          </a>
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
          <!-- LOGO -->

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <!-- <button style="background: inherit; border: none; color: black;"> -->
                <a class="nav-link" href="#" v-on:click="toggleHome">Home <span class="sr-only">(current)</span></a>
                <!-- </button> -->
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#" v-on:click="toggleContact">Contact</a>
              </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" v-on:click="toggleProducts">All</a>
                  <a class="dropdown-item" href="#">T-Shirts</a>
                  <a class="dropdown-item" href="#">Shoes</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" type="button" data-toggle="modal" data-target="#exampleModal">Sizing
                    Chart</a>
                </div>
              </li>
            </ul>

            <!-- Right Side Of Navbar -->
            <form class="form-inline my-2 my-lg-0">
              <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
              <button class="btn btn-dark" type="submit" v-on:click="handleLogout">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-door-closed" viewBox="0 0 16 16">
                  <path
                    d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z" />
                  <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
                </svg>
                Log Out</button>
            </form>
            <!-- Right Side of Navbar -->

          </div>
        </nav>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Women's Sizing Chart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <table class="table">

                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Sizes</th>
                    <th scope="col">XS</th>
                    <th scope="col">SM</th>
                    <th scope="col">MD</th>
                    <th scope="col">LG</th>
                    <th scope="col">XL</th>
                    <th scope="col">2X</th>
                  </tr>
                </thead>

                <tbody>

                  <tr>
                    <th scope="row">Size (U.S)</th>
                    <td>0-2</td>
                    <td>4-6</td>
                    <td>8-10</td>
                    <td>12-14</td>
                    <td>16</td>
                    <td>18-20</td>
                  </tr>

                  <tr>
                    <th scope="row">Bust (inches)</th>
                    <td>31-5-32.5</td>
                    <td>33.5-34.5</td>
                    <td>35.5-37.5</td>
                    <td>38-39.5</td>
                    <td>40-42</td>
                    <td>44-46</td>
                  </tr>

                  <tr>
                    <th scope="row">Waist (inches)</th>
                    <td>23-24</td>
                    <td>25-26</td>
                    <td>27-28</td>
                    <td>29.5-31</td>
                    <td>31-33</td>
                    <td>35-37</td>
                  </tr>

                  <tr>
                    <th scope="row">Hips (inches)</th>
                    <td>33.5-35</td>
                    <td>36-37</td>
                    <td>38-39</td>
                    <td>40.5-42 </td>
                    <td>42-44</td>
                    <td>46-48</td>
                  </tr>

                </tbody>

              </table>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL -->
    </header>
    <!-- END OF NAVBAR -->


    <main>
      <div v-if="loggedIn === false" class="bg-dark">
        <!--Login Form-->
        <div class="parent-login-div">

          <div class="toggle-authentication bg-dark">
            <button v-on:click="toggleLogin" class="btn btn-dark btn-outline-light btn-active"
              id="toggle-login-form-button"> Login </button>

            <button v-on:click="toggleSignup" class="btn btn-dark btn-outline-light btn-active"
              id="toggle-signup-form-button"> Register </button>

          </div>
          <!-- LOGIN -->
          <div class="login-div bg-white" v-if="accountCreated && register === false">
            <form>
              <!-- <div class="form-group"> -->
              <!-- <label for="Username">Username</label> -->
              <div class="input-group mb-3">
                <!-- <label for="Username">Username</label> -->
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-person-square" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                      <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                    </svg>
                  </span>
                </div>
                <input type="text" placeholder="Username" class="form-control" id="username">
              </div>


              <!-- <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="password">
            </div> -->
              <div class="input-group mb-3 ">
                <!-- <label for="exampleInputPassword1">Password</label> -->
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-key-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                  </span>
                </div>

                <input type="password" placeholder="Password" class="form-control" id="createPW">
              </div>
              <div class="text-center">

                <button type="submit" class="btn btn-primary" v-on:click="handleLogin">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor"
                    class="bi bi-door-open-fill" viewBox="0 0 16 16">
                    <path
                      d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                  </svg>
                  Log in
                </button>
              </div>
            </form>
          </div>
          <!-- LOGIN -->


          <!-- --------------------------------------------------------------------------- -->


          <!-- SIGN UP -->
          <div class="signup-div bg-white" v-if="register && accountCreated === false">

            <form>
              <div class="input-group mb-3">

                <!-- <label for="exampleInputEmail1">Email address</label><br> -->

                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-envelope-fill" viewBox="0 0 16 16">
                      <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                    </svg>
                  </span>
                </div>

                <input type="email" placeholder="Email Address" class="form-control" id="createEmail"
                  aria-describedby="emailHelp">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>

              <div class="input-group mb-3">
                <!-- <label for="Username">Username</label> -->
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-person-square" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                      <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                    </svg>
                  </span>
                </div>

                <input type="text" placeholder="Username" class="form-control" id="createUN">

              </div>

              <div class="input-group mb-3">
                <!-- <label for="exampleInputPassword1">Password</label> -->
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-key-fill" viewBox="0 0 16 16">
                      <path
                        d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>
                  </span>
                </div>

                <input type="password" placeholder="Password" class="form-control" id="createPW">
              </div>

              <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </div> -->
              <div class="text-center">
                <button type="submit" class="btn btn-primary" v-on:click="handleLogin">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd"
                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                  </svg>
                  Create Account
                </button>
              </div>
            </form>

          </div>
          <!-- SIGN UP -->
        </div>

      </div>
      <!--End of Login Form-->



      <!-------------------------------------------------------------------------------------->
      <!-- CONTENT -->
      <div v-if="loggedIn">

        <!-- HOME PAGE -->
        <div v-if="homePage && productsPage === false && contactPage === false">
          <!-- 
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://static.nike.com/a/images/w_960,c_limit/328152c6-9d5b-4530-b127-99154766e448/image.jpg"
                  class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/64f1ec0e-a79b-4ec4-a0c1-73d6c5a30665/sportswear-womens-washed-pants-zWTzqm.png"
                  class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img
                  src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/e4a840a6-047b-44d2-8537-b6abe4199a2a/sportswear-swoosh-womens-woven-jacket-1b4wg6.png"
                  class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>-->
          <div class="container-fluid">
            <div class="column text-center">
                <div class="row justify-content-center">
                  <img src="https://media4.giphy.com/media/3o6ZtlMjQF8VgzHyXm/200w.webp?cid=ecf05e47if00cdnlhiotcirx59rxtgjchwtvmbyaxbhncb6s&rid=200w.webp&ct=g">
                  <img src="https://media2.giphy.com/media/3o6Ztqh4JSlVqi2Z20/200w.webp?cid=ecf05e47if00cdnlhiotcirx59rxtgjchwtvmbyaxbhncb6s&rid=200w.webp&ct=g">
                  <img src="https://media3.giphy.com/media/l0HluZItcJ8oIWb5K/200w.webp?cid=ecf05e47if00cdnlhiotcirx59rxtgjchwtvmbyaxbhncb6s&rid=200w.webp&ct=g">
                  <img src="https://media4.giphy.com/media/3o7TKPVo3SMEMMwISY/200w.webp?cid=ecf05e47if00cdnlhiotcirx59rxtgjchwtvmbyaxbhncb6s&rid=200w.webp&ct=g">
                  <img src="https://media2.giphy.com/media/l46CB8sOqviosBsgo/200w.webp?cid=ecf05e47if00cdnlhiotcirx59rxtgjchwtvmbyaxbhncb6s&rid=200w.webp&ct=g">
                  <img src="https://media3.giphy.com/media/3o6Zt4F6t6Sm1cmcus/200w.webp?cid=ecf05e47if00cdnlhiotcirx59rxtgjchwtvmbyaxbhncb6s&rid=200w.webp&ct=g">  
              </div>
                <!-- <div class="col">
                    <img src="jasmine-sanders.jpeg" class="img-fluid">
                </div> -->
            </div>
          </div>
        </div> 

        <!-- END OF HOME PAGE -->

        <!-- PRODUCTS PAGE -->
        <div v-if="productsPage && homePage === false && contactPage === false">
          <div class="container-fluid">
            <div class="row m-5">


              <!-- CARD -->
              <div v-for="product in products" class="col-m p-2">
                <div class="card" style="width: 18rem;" v0>
                  <img :src="product.image" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.price}}</p>
                    <a href="#" class="btn btn-olive btn-shadow">

                      Add to Cart</a>
                  </div>
                </div>
              </div>
              <!-- CARD -->

            </div>
          </div>
        </div>
        <!-- END OF PRODUCTS PAGE-->

        <!--  -->
        <!-- CONTACT PAGE -->
        <div v-if="contactPage && homePage === false && productsPage === false">

          <div class="d-flex justify-content-center align-items-center container">
            <div class="w-50">
              <form class="">

                <!-- FIRST ROW -->
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom01" class="contact-font">First name</label>
                    <input type="text" class="form-control contact-input" id="validationCustom01" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom02" class="contact-font">Last name</label>
                    <input type="text" class="form-control contact-input" id="validationCustom02" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                </div>
                <!-- FIRST ROW -->

                <!-- SECOND ROW -->
                <div class="form-row mt-3">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom01" class="contact-font">Email Address</label>
                    <input type="text" class="form-control contact-input" id="validationCustom01" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom02" class="contact-font">Phone Number</label>
                    <input type="text" class="form-control contact-input" id="validationCustom02" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                  </div>
                </div>
                <!-- SECOND ROW -->

                <!-- THIRD ROW -->
                <div class="form-row mt-3">
                  <label for="validationCustom02" class="contact-font m-2">Message</label>

                  <textarea class="form-control contact-input" style="min-width: 100%"></textarea>
                </div>
                <!-- THIRD ROW -->
                <div class="pt-5">
                  <button class="btn btn-nike" type="submit">Submit form</button>
                </div>
              </form>
            </div>
          </div>

        </div>
        <!-- END OF CONTACT PAGE -->
      </div>
      <!-- CONTENT -->

    </main>

    <footer>

    </footer>

  </div>
  </div>
  <!-- END OF HTML -->


  <!-- Bootstrap script files go to the bottom of the body -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>

</html>