#navbar{
    padding-bottom: 10%;
}
.parent-login-div{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.toggle-authentication, .login-div{
    align-self: center;
}

.login-div{
    width: 50%;
}
