

#navbar{
    padding-bottom: 12%;
}

.parent-login-div{
    display: flex;
    flex-direction: column;

    /* Take Out if Navbar stays on login screen */
    margin-top: 10%;
    /* Take Out if Navbar stays on login screen */
}

.toggle-authentication, .login-div, .signup-div{
    align-self: center;
}

.login-div, .signup-div{
    width: 40%;
    padding: 3%;
    border-radius: 5px;
}

.bg-peach{
    background-color: #E4D1BA;
}

.bg-olive{
    background-color: #6B8371;
    color: white;
}

.bg-burgundy{
    background-color: #251616;
}

.bg-blue-gray{
    /* background-color: #B9B6A0; */
    background-color: #406960;
}

.btn-active:active{
    background-color: white;
    color: black;
}

.btn-teal{
    background-color: #6B8264;
}

.btn-olive{
    background-color: #6B8371;
    color: white;
}

.btn-beige{
    background-color: #6c595b;
    color: white;
}

.btn-dark-purple{
    background-color: #2D262E;
    color: white;
}
input > .parent-login-div{
    background: transparent;
    border: none;
}

/* .product-images-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.child-of-product-div{
    flex-direction: row;
    flex-wrap: wrap;
}
.product-images{
    height: 50%;
    width: 50%;
} */